@import '../../../../styles.scss';

.content {
    @include d-flex($fd: column, $g: 32px);

    h2 {
        color: #444DF2;
        font-size: 46px;
        font-weight: 700;
        text-align: center;
    }

    >span {
        font-size: 20px;
        text-align: center;
    }
}

form {
    @include d-flex($fd: column, $g: 32px);

}

input {
    border: 1px solid transparent;
    border-radius: 100px;
    outline: unset;
    background-color: transparent;
    width: 100%;
    padding: 18px 32px 18px 88px;
    height: 100%;
    font-size: 18px;

    &:hover {
        border: 1px solid black;
    }

    &:focus {
        border-color: #444DF2;
    }
}

::placeholder {
    color: #686868;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
}

.input-fields {
    @include d-flex($fd: column, $g: 15.5px)
}

.input-container {
    height: 77px;
}

.input-box {
    position: relative;
    display: flex;
    align-items: center;
    width: 500px;
    border-radius: 100px;
    background-color: #ECEEFE;

    >img {
        position: absolute;
        margin-left: 32px;
    }
}

.error-message {
    font-size: 14px;
    color: #ED1E79;
    text-align: center;
}

.forgot-password {
    cursor: pointer;
    font-family: 'Figtree', sans-serif;
    font-size: 18px;
    color: #797EF3;
    padding: 5px 15px;
    border-radius: 25px;
    border: 1px solid transparent;
    transition: background-color .125s ease-in-out;

    &:hover {
        background-color: #ECEEFE;
    }
}

.seperator {
    display: flex;
    width: 100%;
    border-top: 1px solid #ADB0D9;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;

    >span {
        position: absolute;
        z-index: 5;
        background-color: white;
        padding: 0px 15px;
    }
}

.google-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    color: #797EF3;
    border-radius: 100px;
    background-color: #ECEEFE;
    border: unset;
}

.google-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    color: #444DF2;
    border-radius: 100px;
    background-color: #ECEEFE;
    border: unset;
    transition: all 0.125s ease-in-out;
    font-weight: 400;

    &:hover {

        transform: scale(1.02);
    }
}

.login-btn {
    width: fit-content;
    background-color: #444DF2;
    color: white;
    transition: background-color 0.125s ease-in-out;

    &:hover {
        background-color: #787EF2;
        border-color: #787EF2;
    }
}

.guest-login-btn {
    width: fit-content;
    transition: background-color 0.125s ease-in-out;
    color: #444DF2;

    &:hover {
        background-color: #5359F1;
        border-color: #5359F1;
        color: white;
    }
}

.submit-container {
    width: 100%;
    @include d-flex($g: 30px)
}

// Media queries

@media (max-width: 760px) {
    .content {
        gap: 20px;

        h2 {
            font-size: 32px;
        }

        >span {
            font-size: 17px;
        }
    }

    form {
        gap: 20px;
    }

    ::placeholder, .forgot-password {
        font-size: 17px;
    }

    .google-btn {
        padding: 10px 25px;
    }
}

@media (max-width: 700px) {
    form {
        width: 100%;
    }

    .input-fields, .input-container, .input-box {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .submit-container {
        gap: 8px;
    }

    .btn-no-style {
        padding: 12px 18px;
    }
}

@media (max-width: 380px) {
    .btn-no-style {
        padding: 12px;
    }

    input {
        padding-left: 70px;
    }

    .input-box >img {
        margin-left: 28px;
    }
}

// Max Height Queries

@media (max-height: 860px) {
    .content {
        gap: 24px;

        h2 {
            font-size: 40px;
        }
    }

    form {
        gap: 18px;
    }
}



@media (max-height: 770px) {
    .content {
        gap: 16px;

        h2 {
            font-size: 24px;
        }

        >span {
            font-size: 15px;
        }
    }

    form {
        gap: 12px;
    }

    .input-container {
        height: 67px;
    }

    .input-fields, .input-container, .input-box, input, ::placeholder, .forgot-password, .google-btn {
        font-size: 15px;
    }

    .google-btn  {
        padding: 8px 12px;

        >img {
        width: 32px;
        height: 32px;
        }
    }

    .btn-no-style {
        padding: 8px 12px;
    }

    .error-message {
        font-size: 13px;
    }
}