<div class="content">
    <h2>Anmeldung</h2>
    <span>Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die <br> du bei der Arbeit verwendest.</span>
    <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
        <div class="input-fields">
            <div class="input-container">
                <div class="input-box">
                    @if (mail== '') {
                    <img src="/img/mail.png" alt="">
                    } @else {
                    <img src="/img/mail_black.png" alt="">
                    }
                    <label for="email"></label>
                    <input [(ngModel)]="mail" #email type="email" id="email" name="email"
                        placeholder="beispielname@email.com">
                </div>
                @if (authService.errorCode == 'auth/missing-email' || authService.errorCode == 'auth/invalid-email')
                {
                <span class="error-message">Bitte gültige E-Mail-Adresse eingeben</span>
                }
            </div>

            <div class="input-container">
                <div class="input-box">
                    @if (password == '') {
                    <img src="/img/lock.png" alt="">
                    } @else {
                    <img src="/img/lock_black.png" alt="">
                    }
                    <label for="password"></label>
                    <input [(ngModel)]="password" type="password" id="password" name="password" placeholder="Passwort">
                </div>
                @if(authService.errorCode == 'auth/invalid-credential') {
                <span class="error-message">E-Mail-Adresse oder Passwort falsch. Bitte noch einmal versuchen.</span>
                } @else if(authService.errorCode == 'auth/missing-password') {
                <span class="error-message">Bitte Passwort eingeben</span>
                }
            </div>
        </div>


        <span (click)="forgotPassword()" class="forgot-password">Password vergessen?</span>

        <div class="seperator">
            <span>ODER</span>
        </div>

        <div class="google-container">
            <div class="btn-no-style google-btn" (click)="googleLogin()"><img src="/img/google_logo.png"
                    alt="">Anmelden mit
                Google</div>
        </div>
        <div class="submit-container">
            <input type="submit" class="btn-no-style login-btn" value="Anmelden">
            <div class="btn-no-style guest-login-btn" (click)="guestLogin()">Gäste-Login</div>
        </div>
    </form>
</div>
