@import '../../../../styles.scss';

.sidenav {
    height: 100%;
    padding: 32px 0px 32px 52px;
    background: #fff;
    border-radius: 20px;
    font-family: "Nunito";
    @include d-flex($fd: column, $jc: flex-start, $g: 24px);
    //overflow: auto;
}

.scrollable {
    @include d-flex($fd: column, $jc: flex-start, $g: 24px);
    overflow: auto;
    padding-right: 30px;
    width: 100%;

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-thumb {
        background: rgba(173, 176, 217, 1);
        border-radius: 100px;
    }
}

.channel-btn {
    @include d-flex($jc: space-between);
    width: 100%;
    padding-right: 30px;

    >.channel-btn-logo-name {
        @include d-flex($jc: space-between, $g: 16px);

        >.workspaceLogo {
            height: 60px;
            width: 60px;
            object-fit: cover;
        }

        >h3 {
            font-size: 24px;
            font-weight: 700;
        }
    }

    >.edit_square-icon {
        height: 24px;
        width: 24px;
        object-fit: contain;
        cursor: pointer;

        &:hover path {
            fill: $specialBlue;
        }
    }
}

.channel-container {
    @include d-flex($fd: column, $jc: flex-start, $ai: flex-start, $g: 25px);
    width: 100%;
    //overflow: hidden;

    >.channel-header {
        @include d-flex($jc: space-between);
        background: #fff;
        z-index: 1;
        width: 100%;

        >.arrow-symbol-title-container {
            @include d-flex($jc: space-between, $g: 16px);
            cursor: pointer;

            &:hover .arrow-down-channel path {
                fill: $specialBlue;
            }

            &:hover .workspacesIcon path {
                fill: $specialBlue;
            }

            &:hover span {
                color: $specialBlue;
            }

            >span {
                @include d-flex($jc: space-between, $g: 8px);
            }
        }
    }
}

.arrow-down-directmessages {
    width: 16px;
    height: 16px;
    object-fit: contain;
}

.arrow-down-channel {
    width: 16px;
    height: 16px;
    object-fit: contain;
}

.workspacesIcon {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.addIcon-container {
    height: 32px;
    width: 32px;
    @include d-flex();

    &:hover {
        background: rgba(236, 238, 254, 1);
        border-radius: 100%;
        cursor: pointer;
    }

    &:hover .addIcon path {
        fill: $specialBlue;
    }
}

.addIcon {
    width: 14px;
    height: 14px;
    object-fit: contain;
}

.channel-links-container {
    @include d-flex($fd: column, $ai: flex-start, $g: 25px);
    overflow: hidden;
    width: 100%;
    margin-left: 16px;
    transition: all 0.2s cubic-bezier(.215, .61, .355, 1);
}

.channel {
    @include d-flex($ai: center, $g: 10px);
    color: #000;
    font-weight: 700;
    font-size: 18px;
    padding: 4px 20px;
    border: none;
    transition: all 0.3s cubic-bezier(.215, .61, .355, 1);

    &:hover {
        color: $specialBlue;
        background: rgba(236, 238, 254, 1);
    }

    &:hover .hashtagIcon path {
        fill: $specialBlue
    }
}

.hashtagIcon {
    height: 24px;
    width: 24px;
    object-fit: contain;
}

.add-circle {
    height: 24px;
    width: 24px;
    object-fit: contain;
}

.add-channel-container {
    @include d-flex($jc: flex-start, $g: 16px);
    //width: 100%;
    margin-left: 35px;

    &:hover {
        color: $specialBlue;
        cursor: pointer;
    }

    &:hover .add-circle path {
        fill: $specialBlue;
    }
}

// Direct Messages Styles------------------------>
.direct-messages-container {
    width: 100%;
    // overflow: hidden;
}

.direct-message-header {
    @include d-flex($jc: flex-start, $g: 16px);
    cursor: pointer;


    &:hover .arrow-down-directmessages path {
        fill: $specialBlue;
    }

    &:hover .accountIcon-and-title-container .account-circleIcon path {
        fill: $specialBlue;
    }

    &:hover .accountIcon-and-title-container h3 {
        color: $specialBlue;
    }

    >.accountIcon-and-title-container {
        @include d-flex($jc: flex-start, $g: 10px);

        >.account-circleIcon {
            height: 24px;
            width: 24px;
            object-fit: contain;
        }

        >h3 {
            font-size: 20px;
            font-weight: 700;
        }
    }
}

.colleagues-container {
    @include d-flex($fd: column, $ai: flex-start, $jc: space-between, $g: 16px);
    transition: all 0.25s cubic-bezier(.215, .61, .355, 1);
    margin-top: 25px;

    >.collegue {
        @include d-flex($ai: center, $jc: space-between, $g: 16px);
        padding: 4px 20px;
        border-radius: 35px;
        position: relative;

        &:hover {
            background: rgba(236, 238, 254, 1);
            cursor: pointer;
        }

        &:hover h3 {
            color: $specialBlue;
        }

        >.avatar-sidenav {
            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius: 100%;
            z-index: 4;
        }

        >h3 {
            font-weight: 400;
            font-size: 18px;
        }
    }
}

.collegue-on-focus {
    color: $specialBlue;
    background: rgba(236, 238, 254, 1);
}

.state-icon {
    width: 16px;
    height: 16px;
    position: absolute;
    left: 55px;
    bottom: 5px;
    z-index: 10;
}

.new-message-icon-mobile {
    position: absolute;
    bottom: 32px;
    right: 30px;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: $specialBlue;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    z-index: 50;
    box-shadow: 0px 6px 10px 0px #00000033;
    transition: all .125s ease-in-out;

    &:hover {
        background-color: #797EF3;
    }
}

.d-none {
    display: none;
}

// media queries
@media (min-width: 960px) {
    .input-search-container-sidenav {
        display: none;
    }
}

@media (max-width: 960px) {
    .sidenav {
        padding: 0;
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .scrollable {
        padding: 0;
        padding: 32px 0px 30px 52px;
        overflow-x: hidden;
    }

    .channel-btn {
        display: none;
    }

    .channel-container>.channel-header {
        padding-right: 24px;
    }

    .colleagues-container>.collegue>.avatar-sidenav {
        width: 48px;
        height: 48px;
    }

    .input-search-container-sidenav {
        position: relative;
        background: #fff;
        border-radius: 50px;
        border: 1px solid rgba(173, 176, 217, 1);
        padding: 8px 24px;
        @include d-flex($jc: space-between, $g: 16px);
        width: 80%;

        >input {
            font-family: "Nunito";
            height: 30px;
            width: 100%;
            border: unset;
            outline: none;
            font-size: 16px;
            font-weight: 400;
            padding-right: 16px;

            &::placeholder {
                color: rgba(0, 0, 0, 0.5);
                font-size: 16px;
            }
        }

        >img {
            position: absolute;
            right: 16px;
            height: 35px;
            width: 35px;
            border-radius: 100%;
            padding: 4px;

            &:hover {
                cursor: pointer;
                background: rgba(0, 0, 0, 0.1);
            }
        }
    }
}

@media (max-width: 768px) {
    .new-message-icon-mobile {
        display: flex;
    }

    .sidenav {
        border-radius: 0;
        position: relative;
        padding-bottom: 12px;
    }

}

@media (max-width: 445px) {

    .arrow-down-channel,
    .arrow-down-directmessages {
        width: 12px;
        height: 12px;
    }

    h2 {
        font-size: 20px;
    }

    .channel {
        font-size: 17px;
    }

    .colleagues-container>.collegue>h3 {
        font-size: 17px;
    }

    .scrollable {
        padding: 32px 0 20px 32px;
    }

    .channel-container>.channel-header {
        width: 95%;
    }
}