@import '../../../../styles.scss';

.chat-field-header {
    @include d-flex($jc: space-between, $g: 10px);
    padding: 25px 70px;
    border-radius: 30px 30px 0 0;
    width: 100%;
    font-family: "Nunito";
    box-shadow: 0px 2px 10px 0px #00000014;


    >.chat-field-channel {
        border-radius: 100px;
        border: none;
        padding: 6px 10px;
        color: #000;
        font-weight: 700;
        font-size: 24px;
        @include d-flex($jc: space-between, $g: 10px);
        cursor: pointer;

        &:hover {
            color: $specialBlue;
            background: rgba(236, 238, 254, 1);
        }

        &:hover .hashtagIconChat path {
            fill: $specialBlue;
        }

        &:hover .arrow-down-chat path {
            fill: $specialBlue;
        }
    }
}

.new-message-container {
    width: 100%;
}

.members-info-and-add-container {
    @include d-flex($jc: space-between, $g: 10px);
}

.members-container {
    @include d-flex($g: 10px);
    padding: 3px 10px;
    border-radius: 100px;
    cursor: pointer;
    position: relative;

    &:hover {
        background: rgba(236, 238, 254, 1);
        color: $specialBlue;
    }

    >.avatar-photos-container {
        @include d-flex();
        >img {
            height: 40px;
            width: 40px;
            border-radius: 100%;
            object-fit: cover;
            margin-left: -7px;
            border: 2px solid #fff;
        }
    }

    >.number-of-members {
        font-size: 20px;
        font-weight: 600;
    }
}

.main-chat-container {
    margin-top: 96px;
}

.chat {
    width: 100%;
    overflow-y: auto;
    flex: 1;

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-thumb {
        background: rgba(173, 176, 217, 1);
        border-radius: 100px;
    }
}


.chat-box {
    position: relative;
}

.chat-box-2 {
    margin-bottom: 150px;
}

.time-separator-container {
    position: relative;
    width: 100%;
    height: 35px;
    @include d-flex($jc: flex-start);
}

.date-container {
    @include d-flex();
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.date {
    background: #fff;
    border-radius: 30px;
    padding: 5px 15px;
    border: 1px solid rgba(173, 176, 217, 1);
    font-family: "Nunito";
}

.line {
    display: block;
    background: rgba(173, 176, 217, 1);
    height: 1px;
    width: 100%;
}

.reaction-bar {
    position: absolute;
    top: 34px;
    right: 16px;
    z-index: 10;
    background: #fff;
    border: 1px solid rgba(173, 176, 217, 1);
    border-radius: 25px 25px 0px 25px;
    padding: 3px 15px 3px 20px;
    @include d-flex($jc: space-between, $g: 5px);

    >img {
        cursor: pointer;
        border-radius: 100%;

        &:hover {
            background: rgba(236, 238, 254, 1);
        }
    }
}

.message-box {
    @include d-flex(row, flex-start, flex-start, 30px);
    padding: 10px 0px 10px 45px;
    cursor: pointer;
    margin-top: 24px;

    &:hover {
        background: rgb(236, 238, 254);
    }

    &:hover .message-container .message {
        background: #fff;
    }

    &:hover .last-answer-container {
        color: #000;
        font-weight: bold;
    }

    &:hover .answer-container .answers {
        font-weight: bold;
    }

    >.avatar-photo {
        height: 70px;
        width: 70px;
        object-fit: cover;
        border-radius: 100%;
    }
}

.message-box-reverse {
    flex-direction: row-reverse !important;
    padding: 10px 45px 10px 0px !important;

    &:hover {
        background-color: #ECEEFD !important;
    }

    &:hover .message-container .message {
        background-color: #787EF2;
        color: #fff;
    }

    .message-container {
        align-items: flex-end !important;

        p {
            border-radius: 30px 0 30px 30px !important;
        }
    }
}

.reaction-bar-reverse {
    right: auto !important;
    left: 16px !important;
}

.message-container {
    min-width: 352px;
    @include d-flex(column, flex-start, flex-start, 8px);
    font-family: "Nunito";

    >.name-and-time-container {
        display: flex;
        align-items: center;
        gap: 20px;

        >.avatar-name-message {
            font-size: 18px;
            font-weight: 700;
        }

        >.time {
            font-size: 14px;
            font-weight: 400;
            color: rgba(104, 104, 104, 1)
        }
    }

    >.message {
        padding: 16px;
        border-radius: 0px 30px 30px 30px;
        background: rgba(236, 238, 254, 1)
    }
}

.reaction-indicator-bar {
    @include d-flex($jc: space-between, $ai: center, $g: 8px);

    >.reaction-indicator {
        position: relative;
        padding: 5px 10px;
        border: 1px solid rgba(173, 176, 217, 1);
        border-radius: 20px;
        @include d-flex($jc: space-between, $ai: center, $g: 10px);

        >.pop-up-reaction {
            position: absolute;
            top: -131px;
            left: 26px;
            width: 150px;
            border-radius: 30px 30px 30px 0px;
            background: blue;
            padding: 15px 10px;
            color: #fff;
            @include d-flex($fd: column, $g: 5px);
            transition: all 0.3s cubic-bezier(.215, .61, .355, 1);

            >.pop-up-reacter {
                @include d-flex($fd: column, $ai: center, $g: 5px);
            }
        }
    }

}



.answer-container {
    width: 260px;
    @include d-flex($jc: space-between);

    >.answers {
        @include d-flex($jc: space-between, $g: 10px);
        font-size: 18px;
        font-weight: 400;
        color: $specialBlue;
    }

    >.last-answer-container {
        @include d-flex($jc: space-between, $g: 4px);
        font-size: 14px;
        font-weight: 400;
        color: rgba(104, 104, 104, 1)
    }
}

// Icons Styles-------------------->
.add-person-icon-container {
    @include d-flex();
    background: rgba(236, 238, 254, 1);
    border-radius: 100px;
    height: 48px;
    width: 48px;
    cursor: pointer;
    position: relative;

    &:hover .add-person-icon {
        transition: all 0.3s cubic-bezier(.215, .61, .355, 1);
        transform: scale(1.1);
    }

    &:hover .add-person-icon path {
        fill: $specialBlue;
    }
}

.add-person-icon {
    height: 22px;
    object-fit: contain;
}

.hashtagIconChat {
    width: 22px;
    height: 23px;
    object-fit: contain;
}

.arrow-down-chat {
    width: 14px;
    height: 8px;
    object-fit: contain;
}

.addReaction-icon,
.answer-icon {
    cursor: pointer;
    border-radius: 100%;

    &:hover {
        background: rgba(236, 238, 254, 1);
    }

    &:hover path {
        fill: $specialBlue;
    }
}

.user-private-message-header {
    position: relative;
    @include d-flex($g: 15px);
    padding: 4px 8px;
    border-radius: 30px;

    &:hover {
        cursor: pointer;
        background: rgba(236, 238, 254, 1);
    }

    >.avatar-private {
        border-radius: 100%;
        height: 50px;
        width: 50px;
        object-fit: cover;
    }

    >h3 {
        font-size: 24px;
        font-weight: 700;
    }
}

.chat-partner-pop-up {
    @include d-flex(column, space-between, flex-start, 25px);
    font-family: "Nunito";
    margin-bottom: 150px;
    transition: all 0.3s cubic-bezier(.215, .61, .355, 1);
    padding: 25px 70px;

    >.partner-container {
        @include d-flex($jc: space-between, $ai: flex-end, $g: 25px);

        >img {
            height: 100px;
            width: 100px;
            object-fit: cover;
            border-radius: 100px;
            cursor: pointer;
        }

        >h3 {
            font-size: 24px;
            font-weight: 700;

            &:hover {
                color: $specialBlue;
                cursor: pointer;
            }
        }
    }

    >p {
        font-size: 20px;
        font-weight: 400;
        color: #686868;
        //@include d-flex($jc: space-between, $g: 8px);

        >span {
            color: $specialBlue;


            &:hover {
                font-weight: bold;
                cursor: pointer;
            }
        }
    }
}

.translateX {
    transform: translateX(-200%);
}

.no-channel-message {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    @include d-flex()
}

.chat-current-user {
    color: #686868;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
}

.state-icon {
    position: absolute;
    left: 45px;
    bottom: 4px;
    z-index: 15;
    width: 16px;
    height: 16px;    
}

.d-none {
    display: none;
}



// Media Queries

@media (max-width: 1100px) {
    .chat-field-header {
        padding: 25px 40px;
    }
}

@media (max-width: 960px) {

    .no-channel-message {
        padding-left: 12px;
    }
    .chat-field-header {
        padding: 10px 16px;
        font-size: 20px;

        >.chat-field-channel {
            font-size: 20px;
        }
    }

    .add-person-icon-container {
        width: 34px;
        height: 34px;
    }

    .members-container {
        display: none;
    }

    .user-private-message-header > h3 {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .chat-field-header {
        padding: 10px 16px;
    }

    .chat-partner-pop-up {
        gap: 24px; 
        width: 100%;
        padding: 25px 24px;

        > .partner-container {
            gap: 10px;
            > img {
                width: 88px;
                height: 88px;
            }
        }
    }
}