<div class="content">

    <div class="headline">
        <img routerLink="../login" src="/img/arrow_back.png" alt="" class="back-arrow">
        <h2>Konto erstellen</h2>
    </div>

    <span>Mit deinem Namen und deiner E-Mail-Adresse hast <br> du dein neues DABubble-Konto.</span>
    <form (ngSubmit)="onSubmit(signupForm)" #signupForm="ngForm">
        <div class="input-fields">
            <div class="input-container">
                <div class="input-box">
                    @if (user.name== '') {
                    <img src="/img/person.png" alt="">
                    } @else {
                    <img src="/img/person_black.png" alt="">
                    }
                    <label for="name"></label>
                    <input [(ngModel)]="user.name" #name="ngModel" type="text" id="name" name="name"
                        placeholder="Name und Nachname" required>
                </div>
                @if (name.touched && !name.valid) {
                <span class="error-message">Bitte schreiben sie einen Namen</span>
                }
            </div>

            <div class="input-container">
                <div class="input-box">
                    @if (user.email== '') {
                    <img src="/img/mail.png" alt="">
                    } @else {
                    <img src="/img/mail_black.png" alt="">
                    }
                    <label for="email"></label>
                    <input [(ngModel)]="user.email" #email="ngModel" type="email" id="email" name="email"
                        placeholder="beispielname@email.com" required
                        pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">
                </div>
                @if (email.touched && !email.valid) {
                <span class="error-message">Diese E-Mail-Adresse ist leider ungültig</span>
                }

            </div>

            <div class="input-container password-input">
                <div class="input-box">
                    @if (user.password == '') {
                    <img src="/img/lock.png" alt="">
                    } @else {
                    <img src="/img/lock_black.png" alt="">
                    }
                    <label for="password"></label>
                    <input [(ngModel)]="user.password" #password="ngModel" type="password" id="password" name="password"
                        placeholder="Passwort" required minlength="8">
                </div>
                @if(password.touched && !password.valid) {
                <span class="error-message">Bitte gültiges Passwort eingeben. <br>Das Passwort muss mindestens 8 Zeichen
                    lang sein</span>
                }
            </div>
            <div class="checkbox-container">
                <input type="checkbox" id="privacyPolicy" required [(ngModel)]="checkboxChecked" #checkbox="ngModel"
                    name="checkbox">
                <label for="privacyPolicy">Ich stimme der <a href="datenschutz" target="_blank">Datenschutzerklärung</a>
                    zu.</label>
            </div>

            <input [disabled]="!signupForm.valid" [class.disabled-btn]="!signupForm.valid"
                class="btn-no-style login-btn" type="submit" value="Weiter">
        </div>
    </form>
</div>