@import '../../../styles.scss';

* {
    font-family: 'Nunito', sans-serif;
}

header {
    @include d-flex($jc: flex-start);
    padding: 32px 75px 0px;

    .logo-box {
        @include d-flex($g: 16px);

        h1 {
            font-size: 32px;
        }
    }
}

.content {
    @include d-flex($fd: column, $g: 8px);
    //height: calc(100vh - 126px);
    overflow-x: hidden;
}

.login-container {
    @include d-flex($fd: column, $g: 32px);
    background-color: white;
    box-shadow: 0px 2px 10px 0px #00000014;
    border-radius: 30px;
    padding: 32px 64px;
    margin-top: 16px;

    h2 {
        color: #444DF2;
        font-size: 46px;
        font-weight: 700;
        text-align: center;
    }

    >span {
        font-size: 20px;
        text-align: center;
    }
}

.confirmation-message {
    padding: 50px;
    border-radius: 30px 30px 0 30px;
    background-color: #444DF2;
    box-shadow: 0px 6px 10px 0px #00000033;
    color: white;
    font-size: 36px;
    font-weight: 700;
    align-self: flex-end;
    margin-right: 16px;
    transform: translateX(600px);
    transition: transform .125s ease-in-out;
}

.error-message {
    padding: 50px;
    border-radius: 30px 30px 0 30px;
    background-color: #ea204f;;
    box-shadow: 0px 6px 10px 0px #00000033;
    color: white;
    font-size: 36px;
    font-weight: 700;
    align-self: flex-end;
    margin-right: 16px;
    transform: translateX(600px);
    transition: transform .125s ease-in-out;
}

.slide-in {
    transform: translateX(0);
}

.flex-center {
    @include d-flex($fd: column);
    height: 100vh;
}

@media (max-width: 760px) {
    
    header {
        justify-content: center !important;

        .logo-box {

            >img {
                width: 56px;
                height: 56px;
            }
        }
    }

    .content {
        height: auto;
        gap: 20px;
        width: 100%;
        gap: 12px;
    }

    .confirmation-message {
        padding: 25px;
        font-size: 24px;
    }

    .error-message {
        padding: 25px;
        font-size: 24px;
    }
}

@media (max-width: 590px) {
    .content {
        width: 95%;
    }

    .login-container {
        padding: 35px 20px;
    }
}

@media (max-width: 500px) {
    header {
        padding: 0;
    }
}

@media (max-width: 410px) {
    .confirmation-message {
        font-size: 20px;
        padding: 15px;
    }

    .error-message {
        font-size: 20px;
        padding: 15px;
    }
}

@media (max-height: 860px) {
    .content {
        gap: 16px;
    }

    .login-container {
        margin-top: 0;
    }

    .confirmation-message {
        padding: 20px;
        font-size: 24px
    }
}

@media (max-height: 770px) {


    header {
        height: auto;
        padding: 12px;

        .logo-box {
            h1 {
                font-size: 24px;
            }

            >img {
                width: 40px;
                height: 40px;
            }
        }
    }

    .login-container {
        padding: 20px;
        margin-top: 0;
    }

    .register-box {
        gap: 8px;
        font-size: 15px;
    }
}