@import '../../../../../styles.scss';

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @include d-flex();
    z-index: 99;
    background: rgba(0, 0, 0, 0.2);
}

.show-member-pop-up {
    background: #fff;
    border-radius: 30px;
    padding: 40px;
    font-family: "Nunito";
    color: #000;
    @include d-flex(column, space-between, flex-start, 45px);
    width: 500px;
    z-index: 10;
}

.title-and-cross-icon {
    @include d-flex($jc: space-between);
    width: 100%;

    >span {
        font-size: 24px;
        font-weight: 700;
        color: #000;
    }
}

.profil-photo-container {
    width: 100%;
    @include d-flex();

    .profil-photo {
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 100%;
    }
}

.name-and-state-container {
    @include d-flex(column, space-between, flex-start, 15px);

    >h3 {
        font-size: 32px;
        color: #000;
        font-weight: 700;
    }

    >.state-container {
        @include d-flex($jc: space-between, $g: 15px);

        >.point-container {
            @include d-flex($jc: flex-start, $g: 24px);

            >span {
                font-size: 20px;
                font-weight: 400;
            }
        }
    }
}

.email-container {
    @include d-flex($jc: space-between, $ai: flex-start, $g: 15px);

    >img {
        height: 20px;
        width: 25px;
        object-fit: contain;
    }

    >.email {
        @include d-flex(column, space-between, flex-start, 20px);
    }
}


.cross-icon-show-member {
    &:hover {
        background: rgb(236, 238, 254);
        border-radius: 100%;
    }

    &:hover path {
        fill: $specialBlue;
    }
}

.btn-container {
    @include d-flex();
    width: 100%;

    >a {
        background: rgba(68, 77, 242, 1);
        border-radius: 50px;
        padding: 12px 25px;
        @include d-flex($g: 10px);
        color: #fff;
        font-size: 18px;
        font-weight: 700;

        &:hover {
            background: rgb(121, 126, 243);
        }
    }
}

.state-icon {
    width: 24px;
    height: 24px;
}