<div class="content" (click)="stopPropagation($event)">
    <div class="headline">
        <h3>Dein Profil bearbeiten</h3>
        <img src="/icons/close.svg" alt="" class="" (click)="closeEditor($event)">
    </div>
    <img src="{{ avatarPath }}" alt="" class="avatar-img" (click)="toggleAvatarEditor()">
    @if (editingAvatar()) {
    <div class="pick-avatar-container" (click)="toggleAvatarEditor()">
        <div class="pick-avatar-popup">
            <span>Aus der Liste wählen</span>
            <div class="avatar-list">
                @for (avatar of avatars; track avatar; let i = $index) {
                <img src="{{ avatar }}" alt="" (click)="pickAvatar(i, $event)">
                }
            </div>
            <div class="own-avatar">
                <span>eigenes Bild verwenden</span>
                <label for="fileUpload" class="btn-no-style upload-btn">Datei hochladen</label>
                <input type="file" name="fileUpload" id="fileUpload" (change)="onFileChange($event)">
            </div>
        </div>

    </div>
    }

    <form (ngSubmit)="onSubmit(editForm)" #editForm="ngForm">
        <div class="input-container">
            <label for="name"><img src="/icons/name_edit_user.png">Vollständiger Name</label>
            <input type="text" id="name" name="name" [(ngModel)]="fullname" #name="ngModel">
        </div>

        <div class="input-container">
            <label for="name"><img src="/icons/mail_edit_user.png" alt="">E-Mail-Adresse</label>
            <input type="email" id="email" name="email" #email="ngModel" [(ngModel)]="mail"
            pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">
        </div>
        @if (email.touched && !email.valid) {
        <span class="error-message">Bitte geben sie eine gültige E-Mail-Adresse ein</span>
        }
        @else if (userProfileService.errorCode() == 'auth/requires-recent-login') {
        <span class="error-message">Ihr letzter Login ist zu lange her<br> Bitte loggen sie nich erneut ein.</span>
        } @else if (userProfileService.errorCode() == 'no error') {
        <span class="error-message">Eine Email zum Bestätigen der Änderung <br> wurde an ihre E-Mail-Adresse
            gesendet</span>
        } @else if (changesSuccessful()) {
        <span class="error-message" style="color: #444DF2;">Ihre Änderungen wurden erfolgreich gespeichert</span>
        }

        <div class="form-actions">
            <div class="btn-no-style cancel-btn" (click)="closeEditor($event)">Abbrechen
            </div>
            <input type="submit" value="Speichern" class="btn-no-style submit-btn">
        </div>



    </form>
</div>