<div class="content">
    <div class="headline">
        <img (click)="goBackToRegister()" src="/img/arrow_back.png" alt="" class="back-arrow">
        <h2>Wähle deinen Avatar</h2>
    </div>
    <img src="{{ avatarImgPath }}" alt="" class="profile-img">
    <h3>{{ user.name }}</h3>
    <div class="pick-avatar-container">
        <span>Aus der Liste wählen</span>
        <div class="avatar-list">
            @for (avatar of avatars; track avatar; let i = $index) {
            <img (click)="pickAvatar(i)" src="{{ avatar }}" alt="">
            }
        </div>
        <div class="own-avatar">
            <span>eigenes Bild verwenden</span>
            <label for="fileUpload" class="btn-no-style upload-btn">Datei hochladen</label>
            <input type="file" name="fileUpload" id="fileUpload" (change)="onFileChange($event)">
        </div>
    </div>
    <button (click)="completeSignup()" [disabled]="!avatarPicked" [class.disabled-btn]="!avatarPicked"
        class="btn-no-style login-btn">Weiter</button>

</div>